<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>
   
  <body>
    <p>Hey, <%= @order.buyer_name %>!</p>
    <p>
       We just delivered your Liongram to <%= @order.recipient_name %> in <%= @order.recipient_address %>!
    </p>
    <p>Let us know if you have any questions. Have a lovely day!</p>
  </body>
</html>
