<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>
   
  <body>
    <p>Hey, <%= @order.buyer_name %>!</p>
    <p>
       Thanks for ordering from Liongram! We've received your payment via Venmo, and the order is currently in the works.
    </p>
    <p>Let us know if you have any questions. Have a lovely day!</p>
  </body>
</html>
