<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>
   
  <body>
    <img align="center" alt="" src="https://gallery.mailchimp.com/ba4a81e16e54b1e8325c76e56/images/cb8837f4-0ea8-4928-a66a-284de152cfa9.jpg" width="564" style="max-width: 5616px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"><br>
    <p>Hey, <%= @order.buyer_name %>!</p>
    <p>
       Thanks for ordering from Liongram! We've received your payment via Venmo, and the order is currently in the works.
    </p>
    <p>Let us know if you have any questions. Have a lovely day!</p>
  </body>
</html>
